==
<footer class="section footer bg-gray-900">
        <div class="container">
            <div class="footer-main">
                <div class="row row-50 justify-content-between">
                    <div class="col-xl-5 col-md-6">
                        <div class="row">
                            <div class="col-md-5 col-6">
                                <ul class="footer-nav-list">
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="/saco_new/about-saco">About us</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="/saco_new/our-services">Our services</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="/saco_new/our-team">Team</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="/saco_new/contacts">Contact us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 mx-auto">
                                <ul class="footer-nav-list d-none">
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="javascript:void(0)">Financial Planning</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="javascript:void(0)">Investment Management</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="javascript:void(0)">Strategic Planning</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="javascript:void(0)">Risk Analysis</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="javascript:void(0)">Business Modelling</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="javascript:void(0)">Valuation Services</a></li>
                                    <li class="footer-nav-item"><a class="footer-nav-link" href="javascript:void(0)">View all</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <p>Subscribe to our newsletter to receive weekly tips on the financial topics that interest you the most.</p>
                        <form class="rd-form rd-mailform rd-form-inline" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                            <div class="form-wrap">
                                <input class="form-input" id="subscribe-form-email-footer" type="email" name="email" data-constraints="@Email @Required">
                                <label class="form-label" for="subscribe-form-email-footer">Enter your email</label>
                            </div>
                            <div class="form-button">
                                <button class="button button-primary" type="submit">Submit now</button>
                            </div>
                        </form>
                        <div class="soc-list"><a class="soc-link icon fa-facebook-f" href="#"></a><a class="soc-link icon fa-twitter" href="#"></a><a class="soc-link icon fa-instagram" href="#"></a><a class="soc-link icon fa-linkedin-square" href="#"></a></div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Bizz Solution Limited</span><span>.&nbsp;</span><span>All Rights Reserved&nbsp;</span></p>
            </div>
        </div>
    </footer>
