==
<section class="section swiper-container swiper-slider swiper-slider-1" data-autoplay="4987" data-loop="true" data-simulate-touch="false" data-direction="horizontal">
        <div class="swiper-wrapper">
            <!-- Slide-->
            <div class="swiper-slide" data-slide-bg="http://localhost/saco_new/storage/app/media/home-01-1920x873.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-9 col-sm-10">
                                <h1 data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-duration="900">Leading provider of financial advisory</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide-->
            <div class="swiper-slide" data-slide-bg="http://localhost/saco_new/storage/app/media/chartered-accountant-mysore5.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-9 col-sm-10">
                                <h1 data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-duration="900">Get professional<br class="d-none d-lg-block">financial guidance</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide-->
            <div class="swiper-slide" data-slide-bg="http://localhost/saco_new/storage/app/media/home-03-1920x873.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-9 col-sm-10">
                                <h1 data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-duration="900">Result-oriented financial strategies</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Swiper Pagination-->
        <div class="swiper-pagination"></div>
        <!--Swiper Navigation-->
        <div class="swiper-button-prev">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </div>
        <div class="swiper-button-next">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
    </section>